-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: erp_ium
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria` (
  `id_auditoria` int(11) NOT NULL AUTO_INCREMENT,
  `fecha_hora` timestamp NOT NULL DEFAULT current_timestamp(),
  `seccion` varchar(100) NOT NULL,
  `accion` enum('Actualizacion','Eliminacion','Insercion') NOT NULL,
  `old_valor` text DEFAULT NULL,
  `new_valor` text DEFAULT NULL,
  `folio_egreso` int(11) DEFAULT NULL,
  `folio_ingreso` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_auditoria`)
) ENGINE=InnoDB AUTO_INCREMENT=397 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias` (
  `id_categoria` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `tipo` enum('Ingreso','Egreso') NOT NULL,
  `concepto` enum('Registro Diario','Titulaciones','Inscripciones y Reinscripciones') DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `no_borrable` tinyint(1) DEFAULT 0,
  `id_user` int(11) NOT NULL,
  PRIMARY KEY (`id_categoria`),
  UNIQUE KEY `nombre` (`nombre`),
  KEY `fk_categorias_user` (`id_user`),
  CONSTRAINT `fk_categorias_user` FOREIGN KEY (`id_user`) REFERENCES `usuarios` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=247 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `egresos`
--

DROP TABLE IF EXISTS `egresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `egresos` (
  `folio_egreso` int(11) NOT NULL AUTO_INCREMENT,
  `proveedor` varchar(100) NOT NULL,
  `descripcion` text NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `fecha` date NOT NULL,
  `destinatario` varchar(255) NOT NULL,
  `forma_pago` enum('Efectivo','Transferencia','Cheque','Tarjeta D.','Tarjeta C.') NOT NULL,
  `documento_de_amparo` varchar(255) NOT NULL,
  `id_user` int(11) NOT NULL,
  `id_presupuesto` int(11) NOT NULL,
  `id_categoria` int(11) NOT NULL,
  PRIMARY KEY (`folio_egreso`),
  KEY `fk_egresos_user` (`id_user`),
  KEY `fk_egresos_presupuesto` (`id_presupuesto`),
  KEY `fk_egresos_categoria` (`id_categoria`),
  CONSTRAINT `fk_egresos_categoria` FOREIGN KEY (`id_categoria`) REFERENCES `categorias` (`id_categoria`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_egresos_presupuesto` FOREIGN KEY (`id_presupuesto`) REFERENCES `presupuestos` (`id_presupuesto`) ON UPDATE CASCADE,
  CONSTRAINT `fk_egresos_user` FOREIGN KEY (`id_user`) REFERENCES `usuarios` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ingresos`
--

DROP TABLE IF EXISTS `ingresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ingresos` (
  `folio_ingreso` int(11) NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `alumno` varchar(255) NOT NULL,
  `matricula` varchar(50) NOT NULL,
  `nivel` enum('Licenciatura','Maestr├¡a','Doctorado') NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `metodo_de_pago` enum('Efectivo','Transferencia','Dep├│sito','Tarjeta D├®bito','Tarjeta Cr├®dito','Mixto') NOT NULL DEFAULT 'Efectivo',
  `mes_correspondiente` varchar(20) DEFAULT NULL,
  `anio` int(4) NOT NULL,
  `observaciones` text DEFAULT NULL,
  `dia_pago` int(2) DEFAULT NULL,
  `modalidad` enum('Cuatrimestral','Semestral') DEFAULT NULL,
  `grado` int(2) DEFAULT NULL,
  `programa` varchar(100) NOT NULL,
  `grupo` varchar(20) DEFAULT NULL,
  `id_categoria` int(11) NOT NULL,
  PRIMARY KEY (`folio_ingreso`),
  KEY `fk_ingresos_categoria` (`id_categoria`),
  CONSTRAINT `fk_ingresos_categoria` FOREIGN KEY (`id_categoria`) REFERENCES `categorias` (`id_categoria`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pagos_parciales`
--

DROP TABLE IF EXISTS `pagos_parciales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos_parciales` (
  `id_pago_parcial` int(11) NOT NULL AUTO_INCREMENT,
  `folio_ingreso` int(11) NOT NULL,
  `metodo_pago` enum('Efectivo','Transferencia','Dep├│sito','Tarjeta D├®bito','Tarjeta Cr├®dito') NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `orden` tinyint(2) NOT NULL DEFAULT 1,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_pago_parcial`),
  KEY `idx_folio_ingreso` (`folio_ingreso`),
  CONSTRAINT `fk_pago_parcial_ingreso` FOREIGN KEY (`folio_ingreso`) REFERENCES `ingresos` (`folio_ingreso`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `presupuestos`
--

DROP TABLE IF EXISTS `presupuestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `presupuestos` (
  `id_presupuesto` int(11) NOT NULL AUTO_INCREMENT,
  `monto_limite` decimal(10,2) NOT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `fecha` date NOT NULL,
  `id_categoria` int(11) DEFAULT NULL,
  `id_user` int(11) NOT NULL,
  `parent_presupuesto` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_presupuesto`),
  KEY `fk_presupuestos_user` (`id_user`),
  KEY `fk_presupuestos_categoria` (`id_categoria`),
  KEY `idx_presupuestos_parent` (`parent_presupuesto`),
  CONSTRAINT `fk_presupuestos_categoria` FOREIGN KEY (`id_categoria`) REFERENCES `categorias` (`id_categoria`) ON UPDATE CASCADE,
  CONSTRAINT `fk_presupuestos_parent` FOREIGN KEY (`parent_presupuesto`) REFERENCES `presupuestos` (`id_presupuesto`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_presupuestos_user` FOREIGN KEY (`id_user`) REFERENCES `usuarios` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario_historial`
--

DROP TABLE IF EXISTS `usuario_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_historial` (
  `id_ha` int(11) NOT NULL,
  `id_user` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_ha`),
  KEY `fk_uh_user` (`id_user`),
  CONSTRAINT `fk_uh_ha` FOREIGN KEY (`id_ha`) REFERENCES `auditoria` (`id_auditoria`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_uh_user` FOREIGN KEY (`id_user`) REFERENCES `usuarios` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario_ingreso`
--

DROP TABLE IF EXISTS `usuario_ingreso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_ingreso` (
  `id_user` int(11) NOT NULL,
  `folio_ingreso` int(11) NOT NULL,
  PRIMARY KEY (`id_user`,`folio_ingreso`),
  KEY `fk_ui_ingreso` (`folio_ingreso`),
  CONSTRAINT `fk_ui_ingreso` FOREIGN KEY (`folio_ingreso`) REFERENCES `ingresos` (`folio_ingreso`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ui_user` FOREIGN KEY (`id_user`) REFERENCES `usuarios` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` enum('ADM','COB','REC','SU') NOT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `v_ingresos_con_pagos`
--

DROP TABLE IF EXISTS `v_ingresos_con_pagos`;
