-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: erp_ium_espejo
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria` (
  `id_auditoria` int(11) NOT NULL,
  `fecha_hora` timestamp NOT NULL DEFAULT current_timestamp(),
  `seccion` varchar(100) NOT NULL,
  `accion` enum('Actualizacion','Eliminacion','Insercion') NOT NULL,
  `old_valor` text DEFAULT NULL,
  `new_valor` text DEFAULT NULL,
  `folio_egreso` int(11) DEFAULT NULL,
  `folio_ingreso` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_auditoria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias` (
  `id_categoria` int(11) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `tipo` enum('Ingreso','Egreso') NOT NULL,
  `concepto` enum('Registro Diario','Titulaciones','Inscripciones y Reinscripciones') DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `no_borrable` tinyint(1) DEFAULT 0,
  `id_user` int(11) NOT NULL,
  PRIMARY KEY (`id_categoria`),
  KEY `fk_categorias_user` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `egresos`
--

DROP TABLE IF EXISTS `egresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `egresos` (
  `folio_egreso` int(11) NOT NULL,
  `proveedor` varchar(100) NOT NULL,
  `descripcion` text NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `fecha` date NOT NULL,
  `destinatario` varchar(255) NOT NULL,
  `forma_pago` enum('Efectivo','Transferencia','Cheque','Tarjeta D.','Tarjeta C.') NOT NULL,
  `documento_de_amparo` varchar(255) NOT NULL,
  `id_user` int(11) NOT NULL,
  `id_presupuesto` int(11) NOT NULL,
  `id_categoria` int(11) NOT NULL,
  PRIMARY KEY (`folio_egreso`),
  KEY `fk_egresos_user` (`id_user`),
  KEY `fk_egresos_presupuesto` (`id_presupuesto`),
  KEY `fk_egresos_categoria` (`id_categoria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `egresos`
--

LOCK TABLES `egresos` WRITE;
/*!40000 ALTER TABLE `egresos` DISABLE KEYS */;
INSERT INTO `egresos` VALUES (1,'pkpkpk','lll',888.00,'2025-11-21','jninion','Cheque','lomlo',2,3,219),(2,'pkpkpk','ooo',700.00,'2025-11-23','jninion','Transferencia','lomlo',2,3,219),(3,'pkpkpk','p',800.00,'2025-11-24','k, ,','Tarjeta C.','lomlo',2,4,243);
/*!40000 ALTER TABLE `egresos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingresos`
--

DROP TABLE IF EXISTS `ingresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ingresos` (
  `folio_ingreso` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `alumno` varchar(255) NOT NULL,
  `matricula` varchar(50) NOT NULL,
  `nivel` enum('Licenciatura','Maestr├¡a','Doctorado') NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `metodo_de_pago` enum('Efectivo','Transferencia','Dep├│sito','Tarjeta D├®bito','Tarjeta Cr├®dito','Mixto') NOT NULL DEFAULT 'Efectivo',
  `mes_correspondiente` varchar(20) DEFAULT NULL,
  `anio` int(4) NOT NULL,
  `observaciones` text DEFAULT NULL,
  `dia_pago` int(2) DEFAULT NULL,
  `modalidad` enum('Cuatrimestral','Semestral') DEFAULT NULL,
  `grado` int(2) DEFAULT NULL,
  `programa` varchar(100) NOT NULL,
  `grupo` varchar(20) DEFAULT NULL,
  `id_categoria` int(11) NOT NULL,
  PRIMARY KEY (`folio_ingreso`),
  KEY `fk_ingresos_categoria` (`id_categoria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingresos`
--

LOCK TABLES `ingresos` WRITE;
/*!40000 ALTER TABLE `ingresos` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingresos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos_parciales`
--

DROP TABLE IF EXISTS `pagos_parciales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos_parciales` (
  `id_pago_parcial` int(11) NOT NULL AUTO_INCREMENT,
  `folio_ingreso` int(11) NOT NULL,
  `metodo_pago` enum('Efectivo','Transferencia','Dep├│sito','Tarjeta D├®bito','Tarjeta Cr├®dito') NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `orden` tinyint(2) NOT NULL DEFAULT 1,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_pago_parcial`),
  KEY `idx_folio_ingreso` (`folio_ingreso`),
  CONSTRAINT `fk_pago_parcial_ingreso_espejo` FOREIGN KEY (`folio_ingreso`) REFERENCES `ingresos` (`folio_ingreso`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos_parciales`
--

LOCK TABLES `pagos_parciales` WRITE;
/*!40000 ALTER TABLE `pagos_parciales` DISABLE KEYS */;
INSERT INTO `pagos_parciales` VALUES (1,2,'Transferencia',3500.00,1,'2025-11-23 08:18:19'),(2,2,'Transferencia',3500.00,2,'2025-11-23 08:18:19'),(3,3,'Transferencia',3500.00,1,'2025-11-23 08:18:21'),(4,3,'Transferencia',3500.00,2,'2025-11-23 08:18:21'),(5,4,'Transferencia',3500.00,1,'2025-11-23 08:18:21'),(6,4,'Transferencia',3500.00,2,'2025-11-23 08:18:21'),(7,6,'Efectivo',350.00,1,'2025-11-23 08:20:24'),(8,6,'Transferencia',350.00,2,'2025-11-23 08:20:24'),(9,7,'Efectivo',200.00,1,'2025-11-24 07:32:54');
/*!40000 ALTER TABLE `pagos_parciales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presupuestos`
--

DROP TABLE IF EXISTS `presupuestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `presupuestos` (
  `id_presupuesto` int(11) NOT NULL,
  `monto_limite` decimal(10,2) NOT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `fecha` date NOT NULL,
  `id_categoria` int(11) DEFAULT NULL,
  `id_user` int(11) NOT NULL,
  `parent_presupuesto` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_presupuesto`),
  KEY `fk_presupuestos_user` (`id_user`),
  KEY `idx_presupuestos_parent` (`parent_presupuesto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presupuestos`
--

LOCK TABLES `presupuestos` WRITE;
/*!40000 ALTER TABLE `presupuestos` DISABLE KEYS */;
/*!40000 ALTER TABLE `presupuestos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_historial`
--

DROP TABLE IF EXISTS `usuario_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_historial` (
  `id_ha` int(11) NOT NULL,
  `id_user` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_ha`),
  KEY `fk_uh_user` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_historial`
--

LOCK TABLES `usuario_historial` WRITE;
/*!40000 ALTER TABLE `usuario_historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_ingreso`
--

DROP TABLE IF EXISTS `usuario_ingreso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_ingreso` (
  `id_user` int(11) NOT NULL,
  `folio_ingreso` int(11) NOT NULL,
  PRIMARY KEY (`id_user`,`folio_ingreso`),
  KEY `fk_ui_ingreso` (`folio_ingreso`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_ingreso`
--

LOCK TABLES `usuario_ingreso` WRITE;
/*!40000 ALTER TABLE `usuario_ingreso` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_ingreso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id_user` int(11) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` enum('ADM','COB','REC','SU') NOT NULL,
  PRIMARY KEY (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'erp_ium_espejo'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-24 10:24:03
